.client-icon {
  padding: 10px;

  background-color: var(--dark-blue-bg);
  color: white;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  margin-bottom: 8px;
}
@media only screen and (max-width: 650px) {
  .client-icon {
    width: 25px;
    height: 25px;
    font-size: 1rem;
  }
}
